[submodule "TestChat"]
	path = TestChat
	url = https://github.com/meeten/TestChat.git
[submodule "Stopwatch"]
	path = Stopwatch
	url = https://github.com/meeten/Stopwatch.git
[submodule "BitsAndPizzas"]
	path = BitsAndPizzas
	url = https://github.com/meeten/BitsAndPizzas.git
